<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="google" value="notranslate">
		<base href="/apps/stillstringer/<%= htmlWebpackPlugin.options.destination %>/" />
		<title>CNNI Touch StillStringer</title>
	</head>
	<body>
		<div class='container-fluid'>
			<div id="app"></div>
		</div>
	</body>
</html>
