
@font-face {
  font-family: 'CNNSans';
    src: url('../fonts/CNNSansDisplay-Light.ttf');
}
body {
	font-family: "CNNSans", "Helvetica", "sans-serif";
}
.timeline {
	text-align:center;
	min-height:185px;
}
.timelineItem {
	position:relative;
	border: solid black 2px;
	display: inline-block;
	margin: 5px 10px 5px 0;
	background-color:#303030;
}
.timelineItem img {
	cursor:move;
	user-select:none;
}
.timelineItemLabel {
	text-align:center;
	background-color:black;
	color:white;
	line-height:30px;
	padding: 0 5px;
}
.timelineItemButton {
	position:absolute;
	width:20px;
	height:20px;
	background-color:black;
	border-radius:10px;
    color: white;
	line-height: 19px;
	text-align:center;
	cursor:pointer;
}
.timelineItemDelete {
	top:-10px;
	right:-10px;
}
.timelineItemSettings {
	top:20px;
	right:-10px;
	padding:1px 0;
}
.settingsModal {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	margin-top:50px;
	text-align:center;
	padding:80px 0;
	z-index:1000;
}
.settingsModal .panel {
	box-shadow:0 0 40px rgba(0,0,0,0.3);
}
.settingsModal .background {
	position:absolute;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.4);
	width:100%;
	height:100%
}
.settingsModal .imageDiv {
	position:relative;
	display:inline-block;
}
.roi {
	position:absolute;
	background-color:rgba(200,10,10,0.5);
	cursor:move;
}
.blur {
	filter:blur(5px);
}
.inlineInput {
	display:inline-block;
  width:300px;
	margin-right:10px;
}
.spinner{
	transition: opacity 100ms;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}
