.scaleTrans-enter {
  transform:scale(0);
}
.scaleTrans-enter.scaleTrans-enter-active {
	transform:scale(1);
	transition: transform 300ms ease-out;
}
.scaleTrans-exit {
	transform:scale(1);
}
.scaleTrans-exit.scaleTrans-exit-active {
	transform:scale(0);
	transition: transform 300ms ease-in;
}
.fadeTrans-enter {
	opacity:0;
}
.fadeTrans-enter.fadeTrans-enter-active {
	opacity:1;
	transition: opacity 500ms ease-out;
}
.fadeTrans-exit {
	opacity:1;
}
.fadeTrans-exit.fadeTrans-exit-active {
	opacity:0;
	transition: opacity 500ms;
}
